
.nav-items{
  display: flex;
  /* justify-content: space-between; */
  text-decoration: none !important;
}

.nav-items li{
  list-style: none;
  padding: 0 1.2em;
  color: #111111!important;
  font-weight: 400;
}

.nav-items .active{
  font-weight: 600!important;
}

.button-item{
  font-weight: 400;
  border-radius: 3px;
  padding-left: 35px;
  padding-right: 35px;
  border: none;
  line-height: 56px;
  color: #ffffff;
  background-color: #7d1eff;
}

.nav_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 240;
  padding-top: 20px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
}