
.nav-items{
  display: flex;
  /* justify-content: space-between; */
  text-decoration: none !important;
}

.nav-items li{
  list-style: none;
  padding: 0 1.2em;
  color: #111111!important;
  font-weight: 400;
}

.nav-items .active{
  font-weight: 600!important;
}

.button-item{
  font-weight: 400;
  border-radius: 3px;
  padding-left: 35px;
  padding-right: 35px;
  border: none;
  line-height: 56px;
  color: #ffffff;
  background-color: #7d1eff;
}

.nav_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 240;
  padding-top: 20px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.button-item span{
  font-size: 120%;
  margin-right: 8px;
  position: relative;
  bottom: -2px;
}


.hero-section{
  margin-top: 100px;
  background-image: url(./images/bg_image.png);
  padding: 32px 0 120px 0;
}


.tip-text{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
/* line-height: 20px; */
color: #7D1EFF;
}

.heading-text{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 57px;
/* line-height: 61px; */
color: #111111;
}

.body-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
color: #636363;
}
.body-text-2{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
text-align: center !important;
justify-self: center;
color: #636363;
padding: 0px 25%;
}

.cta-text{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
color: #111111;
}
.cta-body{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 11px;
color: #111111;
}

.cta-button{
width: 57.19px;
height: 57.19px;
border: 2px solid #7D1EFF;
border-radius: 20px;
}

.cta-btn{
  display: flex !important;
  align-items: center;
  gap: 10px;
}
/* AppStore_btn */
.AppStore_btn{
  width: 169.75px;
  margin-right: 20px;
  height: 56px;
  border-radius: 3px;
  color: #7D1EFF;
  background: #FFFFFF;
  border: 2px solid #CCCCCC;
  border-radius: 3px;
}

.AppStore_btn:hover{
  border: 2px solid #7D1EFF;
  transition: all .3s ease-in-out;
}

.PlayStore_btn{
  width: 169.75px;
  height: 56px;
  /* left: calc(50% - 169.75px/2 + 96.58px); */
  /* top: 264.56px; */
  background: #7D1EFF;
  border-radius: 3px;
  border: none;
  color: #fff;
  }


.play_btn{
    position: relative;
    width: 60px;
    height: 60px;
    border: none;
    left:50%;
    bottom: 50%;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
}

.play_btn:hover{
  background: #7D1EFF;
  color:#fff;
  transition: all .5s ease-in-out;
}

.play_btn span{
  color: #8a8a8a;
  font-size: 14px;
  line-height: 60px;
} 
.ideas-icon span{
  color:#7D1EFF;
  font-size: 32px;
}


.newsletter{
  background-color: #F2F1F7 !important;
  padding: 140px 0 !important;
}


.newsletter-input{
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.01);
color: #707070;
padding: 18px 21px 18px 21px;
width: 423.5px;
gap: 10px;
}
.newsletter-heading_btn{
  flex-direction: row;
  align-items: flex-start;
  padding: 18px 21px 18px 21px;
  border: none;
  color: #FFFFFF;
  background: #7D1EFF;
  border-radius: 3px;
  margin-left: 15px;
}
.newsletter-input::placeholder{
  font-style: italic;
  color: #ACACAC;
}

.newsletter-input::after{
  background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.01);
color: #ACACAC;
padding: 18px 21px 18px 21px;
width: 423.5px;
gap: 10px;
}
  
.newsletter-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #707070;
}
      
.numbers{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  align-items: center;
  text-align: center;
  color: #7D1EFF;
  
}

.newsletter-heading{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 33px;
line-height: 46px;
align-items: center;
text-align: center;
color: #111111;
}

.icon-img span{
  font-size: 31px;
  color: #7D1EFF;
}
.icon-img{
  padding: 20px 16px 20px 16px;
  width: 64px;
  height: 64px;
  background: #E9E5FF;
  border-radius: 20px;
  display: flex !important;
}

.heading{
width: 380.61px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 43px;
/* or 120% */

display: flex;
align-items: center;

color: #111111;
}

.paragraph{
width: 410.03px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #636363;
}

.btn_outline{
  width: 149.64px;
  margin-right: 20px;
  font-weight: 600;
  height: 56px;
  border-radius: 3px;
  color: #000;
  background: #FFFFFF;
  border: 2px solid #7D1EFF;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}

.btn_outline:hover{
  color: #7D1EFF;
  font-weight: 600;
  border: 2px solid #CCCCCC;
  transition: all .3s ease-in-out;
}

.icon-image{
  padding: 20px 16px 20px 16px;
  width: 64px;
  height: 64px;
  background: #E9E5FF;
  border-radius: 20px;
  /* display: flex !important; */
}
.icon-image span{
  font-size: 31px;
  color: #7D1EFF;
}

.even_more{
  padding: 0px 120px;
}


.bg-light{
  background: #F2F1F8 !important;
}

.cards .card{
  border: none !important;
  padding: 55px 15px !important;
  width: 350px;
  border-radius: 0px;
}
.cards{
  gap: 10px !important;
  text-align: center;
  justify-content: center;
}

.review{
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 52px;
line-height: 62px;
align-items: center;
text-align: center;
color: #111111;
margin: 25px 0px;
}


.star{
  color:#ffbd0c;
  margin: 15px 0px;
}

.text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #636363;
}

.divider{
  color: #CCCCCC;
}

.social_icons{
  font-size: 24px;
}
.social_icons svg{
  margin: 0px 10px;
}

.footer-items h2{
  font-size: 15px;
  font-weight: 400!important;
  color: #707070;
  transition: all .3s ease-in-out;
}

.footer-heading h2{
    font-size: 16px !important;
    font-weight: 600!important;
    color: #111111;
}

.footer-nav li{
  list-style: none;
  text-decoration: none;
  margin-right: 15px;
}

ul > li > .active{
  font-weight: 700;
  color: #000;
}